
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1978.915802717609!2d24.986020616110245!3d60.26485058199592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692080d46956399%3A0xe3fcc97cc6b9559!2sPl%C3%A4sinpellonkuja%201%2C%2000740%20Helsinki!5e0!3m2!1sfi!2sfi!4v1574611434206!5m2!1sfi!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

